.App {
  display: flex;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  padding: 20px;
  width: 200px;
  overflow-y: auto;
}

.App-link {
  font-size: 1.5em;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #282c34;
  padding: 10px 0;
  z-index: 1;
}

nav {
  flex: 1;
  overflow-y: auto;
}

nav a {
  display: block; /* 링크를 블록 요소로 설정하여 개행 처리 */
  color: #61dafb;
  text-decoration: none;
  margin: 10px 0;
}

nav a:hover {
  text-decoration: underline;
}

.menu-header {
  font-weight: bold;
  color: #ffffff;
}

.submenu {
  margin-left: 10px;
}

.App-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
